
:root {
  --background-dark: #17161B;
  --background-light: #302E38;
  /* --background-light: #302e3879; */
  --text-light: #ECEAF2; 
  --text-dark: #8F8B9A; 
}

html {
  scroll-behavior: smooth;
}

*:focus { outline: none; }

/* input[type="radio"]{
  -webkit-appearance: radio;
} */

.full-height-div{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-content: stretch;
}

.fill-remaining-space-div{
  flex: 1 1 auto;
  height: 200px; 
}

.section-view{
  background-color: var(--background-dark);
  margin: 10px; 
  margin-top: 0px; 
  border-radius: 5px; 
}
/* super jank way of doing the spacing but oh well */
.section-view-right{
  margin-left: 0px; 
}
.section-view-bottom{
  margin-top: 0px; 
}

.section-title{
  font-size: 30px;
  padding-top: 15px; 
  padding-left: 5px; 
}

.help-info{
  margin-top: 20px; 
}

.material-icons-outlined{
  cursor: pointer; 
}

.material-icons{
  cursor: pointer; 
}

div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: 100px;                  
    height: 18px;                 
    padding: 2px;             
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 0px;      
    border-radius: 10px;           
    pointer-events: none;
}

.tippy-box[data-theme~='speechiness'] {
  background-color: #b5d33d;
  color: white;
}

.tippy-box[data-theme~='acousticness'] {
  background-color: #6ca2ea;
  color: white;
}

.tippy-box[data-theme~='valence'] {
  background-color: #7C30FF;
  color: white;
}

.tippy-box[data-theme~='energy'] {
  background-color: #FF29D8;
  color: white;
}

.tippy-box[data-theme~='danceability'] {
  background-color: #f77e01;
  color: white;
}

/*.tippy-box[data-theme~='speechiness'] {
  background-color: #ffb0c2;
  color: white;
}

.tippy-box[data-theme~='acousticness'] {
  background-color: #FF6DB5;
  color: white;
}

.tippy-box[data-theme~='valence'] {
  background-color: #FF29D8;
  color: white;
}

.tippy-box[data-theme~='energy'] {
  background-color: #C02CE6;
  color: white;
}

.tippy-box[data-theme~='danceability'] {
  background-color: #7c30ff;
  color: white;
}*/



/* Scrollbar formatting */
/* Width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #575757;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.progress {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
}

.progress__meter,
.progress__value {
  fill: none;
}

.progress__meter {
  stroke: #e6e6e6;
}

.progress__value {
  stroke: #f77a52;
}

.dial {
  background-color: whitesmoke;
  border-radius: 50%;
  box-shadow: 0 0 3px black;
  cursor: pointer;
  height: 26px;
  margin-left: -13px;
  position: absolute;
  top: -13px;
  width: 26px;
  z-index: 124;
}

/* input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
  opacity: 1;
} */

#slider-0 {
  position: relative;
  top: 86px;
  left: 82px;
  z-index: 5;
}

#slider-1 {
  position: relative;
  top: -14px;
  left: 64px;
  z-index: 4;
}

#slider-2 {
  position: relative;
  top: -150px;
  left: 46px;
  z-index: 3;
}

#slider-3 {
  position: relative;
  top: -322px;
  left: 28px;
  z-index: 2;
}

#slider-4 {
  position: relative;
  top: -530px;
  left: 10px;
  z-index: 1;
}

/*var colors = ["#f77e01","#FF29D8","#7C30FF","#6ca2ea","#b5d33d"].reverse();  */
#slider-0 .rs-range-color {
    background-color: #b5d33d;
}

#slider-1 .rs-range-color  {
    background-color: #6ca2ea;
}

#slider-2 .rs-range-color  {
    background-color: #7C30FF;
}

#slider-3 .rs-range-color  {
    background-color: #FF29D8;
}

#slider-4 .rs-range-color  {
    background-color: #f77e01;
}

/*#slider-0 .rs-range-color {
    background-color: #FFB0C2;
}

#slider-1 .rs-range-color  {
    background-color: #FF6DB5;
}

#slider-2 .rs-range-color  {
    background-color: #FF29D8;
}

#slider-3 .rs-range-color  {
    background-color: #C02CE6;
}

#slider-4 .rs-range-color  {
    background-color: #7C30FF;
}*/

/*#slider-0 .rs-handle {
    background-color: #FFB0C2;
}

#slider-1 .rs-handle  {
    background-color: #FF6DB5;
}

#slider-2 .rs-handle  {
    background-color: #FF29D8;
}

#slider-3 .rs-handle  {
    background-color: #C02CE6;
}

#slider-4 .rs-handle  {
    background-color: #7C30FF;
}*/

/*.rs-control .rs-range-color {
    background-color: #070809;
}*/

.rs-control .rs-bg-color {
    background-color: #413f4a;
    opacity: 1.0;
}